# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
# *.json
# *.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

playground/data/LLaVA-Pretrain/
playground/data/coco/
playground/data/gqa/
playground/data/ocr_vqa/
playground/data/textvqa/
playground/data/vg/llava/eval/table/
playground/data/
*.jsonl
*.json
